<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                FanFiction Playlist Generator
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Input Your Text Here">
            </div>
            {% if genres %}
                {% for genre in genres %}  
                    <label class="container">{{genre}}
                        <input type="checkbox" name="{{genre}}" >
                        <span class="checkmark">{{genre}}</span>
                    </label>
                {% endfor %}
            {% endif %}
            <br>
            {% if artists %}
                {% for artist in artists %}  
                    <label class="container">{{artist}}
                        <input type="checkbox" name="{{artist}}" >
                        <span class="checkmark">{{artist}}</span>
                    </label>
                {% endfor %}
            {% endif %}
            <br>
            
            
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>
